@font-face {
  font-family: SFPro;
  src: url("/fonts/SFPRODISPLAYREGULAR.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: SFPro;
  src: url("/fonts/SFPRODISPLAYMEDIUM.ttf");
  font-weight: 600;
  font-style: medium;
  font-display: block;
}

@font-face {
  font-family: SFPro;
  src: url("/fonts/SFPRODISPLAYBOLD.ttf");
  font-weight: 700;
  font-style: bold;
  font-display: block;
}
